   :root{
    --main-green:#08d665;
  }
  body{
    background-color: black !important;
    color: white !important;
  }

  .navbar{
    background-color: black !important;
    z-index: 1;
  }
  .nav-logo{
    font-size: 25px !important;
    font-weight: bold;
    color: #08d665 !important;
  }


  .nav-link{
    color: white !important;
    font-size: 18px;
    transition: 0.3s;
  }
  
  .nav-link:hover{
    color: var(--main-green) !important;
  }
  .active{
    color: var(--main-green) !important;
  }

  .navbar-toggler{
    color: black !important;
    border: none !important;
    background-color: var(--main-green) !important;
    border-radius: 0 !important;
    outline: none !important;
  }

  .navbar-toggler i{
    font-weight: 400;
    color: black;
  }

  /* ======== default btn ===== */
  .c-btn{
    margin: 1rem 0;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background: var(--main-green);
    outline: none;
    border: none;
    cursor: pointer;      
  }
  .c-btn:hover{
    transition: 0.3s;
    background-color: #17a055;
  }
  .c-btn a{
    text-decoration: none !important;
    color: white;
  }   

  @media screen and (max-width:765px) {  
    .navbar-nav{
      text-align: right !important;
      margin-top: 1rem;
    }
  }

