.header{
    background-color: black;
    color: white;
  }

  .header-row{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
  }

  .header .header-contain .header-hello{
    color: var(--main-green);
    margin-bottom: 1rem;
  }

  .header  .header-contain .header-title{
    font-size: 50px;
    margin-bottom: 1rem;
  }

    .c-btn{
        margin: 1rem 0;
        padding: 10px 30px;
        border-radius: 20px;
        font-size: 17px;
        font-weight: bold;
        color: white;
        background: var(--main-green);
        outline: none;
        border: none;
        cursor: pointer;      
    }
    .c-btn a{
        text-decoration: none !important;
        color: white;
    }   

    .header .header-img-container img{
      width: 100%;
    }


    
    .about{
        margin: 5rem 0;
        font-family: sans-serif;
        transition: all 0.3s ease;
      }
      .about-row{
        align-items: center;
      }
    
      .about .about-img-container{
          display: flex;
          justify-content: center;
          align-items: center;
      }
      .about .about-img-container img{
        border: 10px solid var(--main-green);
        padding: 10px;
        width: 90%;
      }
  
      .about .about-contain .about-my-work{
        margin: 3rem 0;
      }
      .about .about-contain .about-my-work .about-title{
        margin-bottom: 1rem;
      }
      .about .about-contain .about-my-work .about-desc{
        color: gray;
        margin-bottom: 1rem;
      }
      .about .about-contain .about-me{
        margin: 1rem 0;
      }
      .about .about-contain .about-me > div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 5px 0;
        text-transform:capitalize;
      }
  
      .highlight{
        color: var(--main-green);
      }
  

      
    .services{
        margin: 5rem 0;
      }
      .services .services-card .services-card-img-container img{
        width: 100%;
      }
      .services .services-card{
        transition: all 0.3s ease;
        border: 2px solid white;
        padding: 1.5rem;
        border-radius: 10px;
        text-align: center;
        margin: 1rem;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .services .services-card .services-card-contain .card-title{
        text-decoration: none;
        color: white;
      }
      .services .services-card .services-card-contain .card-title h3{
        margin: 2rem 0 1rem 0;
        transition: 0.3s;
      }

      .services .services-card .services-card-contain .card-title:hover{
          color: var(--main-green);
      }
      .service-title-active{
          color: var(--main-green) !important;
      }
      
    .title-container{
        margin: 3rem ;
        text-align: center;
        font-family: sans-serif;
      }
    .title-container .title{
      font-weight: bold;
    }

    .title-container .title span{
        color: var(--main-green);
    }
 

  @media screen and (max-width:767px) {
    .header .header-row{
        height: auto;
        padding: 3rem 0.5rem;
    }
  }